// couleur de body
$color_header : #111111;
$color_body :#191113;
// couleur bordur de spéparation
$boder_header: #606060;
$border_categorie: #fff;

// couleur utiliser pour le menu des catégories
$color_menu : #111111;
$hover_menu: #313131;

// header couleur bordeur de séparation + icône menu déroulant
$icone_header: #fff;

// police d'écriture texte
$text: #EEEEEE;